<div ng-controller="AuthController" ng-click="signout()"> SIGN OUT! </div>
<div ng-model="user">
    Classes enrolled in for {{ user.name }}:
</div>
<input type="text" ng-model="search" placeholder="Search classes"></span>
<div ng-repeat="class in classes | filter:search | orderBy:'created_at'" ng-click="openClass(class)">

  <div>
      {{ class.description }}
  </div>

</div>
<button type="button" ng-click="videoReady=false" style="width:60px;height:30px;" ng-show="videoReady">Close</button>
<iframe ng-show="videoReady" width="420" height="315"
  ng-src= {{classInfo}} frameborder="0" allowfullscreen>
</iframe>

